# Namespace
snippet ans
	namespace {

	${0}

	}  // namespace
snippet fns
	namespace ${1:`Filename('', 'my')`} {
	${0}
	}
snippet ns
	namespace ${1:`Filename('', 'my')`} {

	${0}

	}  // namespace $1
# Class
snippet cl
	class ${1:`substitute(Filename('', 'name'), '\(\%(\<\l\+\)\%(_\)\@=\)\|_\(\l\)', '\u\1\2', 'g')`} ${0}{
	 public:
		$1();
		virtual ~$1();
	
	 private:
	  DISALLOW_COPY_AND_ASSIGN($1);
	};
