[user]
	name = Cheng Zhao
	email = zcbenz@gmail.com
[push]
	default = matching
[color]
	diff = auto
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
